<div data-aos="fade-right" data-aos-offset="-200" data-aos-delay="300" data-aos-duration="600"
    data-aos-easing="ease-out" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="top-center"
    class="container">
    <div class="portfolio">
        <div class="photo-card">
            <img src="/img/home_bg.jpg" alt="Фотография 1" class="photo-thumbnail">
        </div>

        <div class="photo-card">
            <img src="/img/home_bg.jpg" alt="Фотография 2" class="photo-thumbnail">
        </div>

        <div class="photo-card">
            <img src="/img/home_bg.jpg" alt="Фотография 3" class="photo-thumbnail">
        </div>
    </div>

    <!-- Общий попап -->
    <div class="photo-popup" id="photoPopup">
        <div class="photo-popup-content">
            <span class="popup-close" id="popupClose">&times;</span>
            <img src="" alt="Попап Фото" class="popup-photo" id="popupImage">
            <p class="popup">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veritatis esse tempore? 
                Architecto accusamus possimus odio laboriosam porro, a provident ex consequuntur sapiente nemo repudiandae, optio quod fugiat nisi ut.</p>
        </div>
    </div>
</div>