<div class="swiper-container custom-slider" data-aos="fade-right" data-aos-offset="-200" data-aos-delay="300"
  data-aos-duration="600" data-aos-easing="ease-out" data-aos-mirror="true" data-aos-once="true"
  data-aos-anchor-placement="top-center">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="img/home_bg.jpg" alt="Slide 1">
      <p>Устройство вентилируемых фасадов</p>
    </div>
    <div class="swiper-slide">
      <img src="img/home_bg.jpg" alt="Slide 2">
      <p>Производство наружной рекламы</p>
    </div>
    <div class="swiper-slide">
      <img src="img/home_bg.jpg" alt="Slide 3">
      <p>Изготовление металлоконструкций</p>
    </div>
    <div class="swiper-slide">
      <img src="img/home_bg.jpg" alt="Slide 4">
      <p>Фрезерная резка ЧПУ</p>
    </div>
  </div>
  <!-- Кнопки для переключения -->
  <div class="swiper-button-next">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrowRight"></use>
    </svg>
  </div>
  <div class="swiper-button-prev">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrowRight"></use>
    </svg>
  </div>
</div>